USE [master]
GO
/****** Object:  Database [Zeiterfassung]    Script Date: 04.03.2018 18:34:54 ******/
CREATE DATABASE [Zeiterfassung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zeiterfassung', FILENAME = N'/var/opt/mssql/data/Zeiterfassung.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Zeiterfassung_log', FILENAME = N'/var/opt/mssql/data/Zeiterfassung_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zeiterfassung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zeiterfassung]
GO
USE [Zeiterfassung]
GO
/****** Object:  Table [dbo].[Benutzer]    Script Date: 04.03.2018 18:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benutzer](
	[UserID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Vorname] [varchar](100) NULL,
	[Nachname] [varchar](100) NULL,
	[ChipID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT INTO Benutzer VALUES (1, 'jewers', 'Jannik', 'Ewers', '1')
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[Zeit]    Script Date: 04.03.2018 18:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zeit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[StartZeit] [datetime] NULL,
	[EndZeit] [datetime] NULL,
	[GesamtZeit] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
